.DS_Store
.vscode
._.DS_Store
__pycache__
media
test
ckpt
figure
bak
demo
*.log
dataset
scripts/data
demo
*rollouts*
*tmp*
*bak*
*rl*
.cache_dir
*eval_*
scripts/eval
*.tar.gz*
*freeze*
scripts/ds/1_node_1_gpus_deepspeed_zero2.yaml
scripts/ds/1_node_2_gpus_deepspeed_zero2.yaml
scripts/ds/1_node_4_gpus_deepspeed_zero2.yaml
scripts/train
inference.py
plot
*tmux*
mmadavla/eval/server
scripts/kill_flask.sh