accelerate==1.7.0
autoroot==1.0.1
datasets==4.0.0
diffusers==0.33.1
flash_attn==2.8.3
h5py==3.14.0
huggingface_hub==0.31.4
imageio==2.37.2
jsonlines==4.0.0
matplotlib==3.10.8
numerize @ git+https://github.com/yliu-cs/numerize
numpy==1.23.0
omegaconf==2.3.0
opencv_python==4.12.0.88
Pillow==12.1.0
polars==1.37.1
psutil==7.0.0
pytz==2025.2
rich==14.2.0
scikit_learn==1.8.0
scipy==1.17.0
shutup==0.3.0
torch==2.7.0+cu118
torchcodec==0.4.0
torchvision==0.22.0+cu118
tqdm==4.67.1
transformers==4.52.3